/*
ShieldLabs API

Identification results and risk scoring for your backend.

API version: 1.0.1
Contact: contact@shieldlabs.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ManagementAPIAPIService ManagementAPIAPI service
type ManagementAPIAPIService service

type ApiGetDomainProfileRequest struct {
	ctx           context.Context
	ApiService    *ManagementAPIAPIService
	xShieldDomain *string
}

// Your registered domain. The server matches it exactly against the domain registered in the analytics dashboard, so send it normalized: lowercase, without scheme, path, trailing slash or a leading &#x60;www.&#x60; (&#x60;https://www.Example.com/&#x60; becomes &#x60;example.com&#x60;). A missing or wrong value gets a &#x60;401&#x60; with an empty body.
func (r ApiGetDomainProfileRequest) XShieldDomain(xShieldDomain string) ApiGetDomainProfileRequest {
	r.xShieldDomain = &xShieldDomain
	return r
}

func (r ApiGetDomainProfileRequest) Execute() (*DomainProfile, *http.Response, error) {
	return r.ApiService.GetDomainProfileExecute(r)
}

/*
GetDomainProfile Get the domain profile

Returns the registered domain, the remaining included identifications of the account and the
masked keys.

**Credentials.** Send the Secret Key as a Bearer token and the registered domain in
`X-Shield-Domain`. The domain is matched exactly: send it lowercase, without scheme, path,
trailing slash or a leading `www.`.

**Rate limit.** 15 requests per minute per client IP. The request that goes over the limit
starts a 10-minute block during which every request to the Management API gets `429`. Call
this endpoint sparingly, cache the profile, and never retry a `429`.

`Weight` can be negative when the account is over its included volume. The call is free.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetDomainProfileRequest
*/
func (a *ManagementAPIAPIService) GetDomainProfile(ctx context.Context) ApiGetDomainProfileRequest {
	return ApiGetDomainProfileRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return DomainProfile
func (a *ManagementAPIAPIService) GetDomainProfileExecute(r ApiGetDomainProfileRequest) (*DomainProfile, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DomainProfile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ManagementAPIAPIService.GetDomainProfile")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xShieldDomain == nil {
		return localVarReturnValue, nil, reportError("xShieldDomain is required and must be specified")
	}
	if strlen(*r.xShieldDomain) < 1 {
		return localVarReturnValue, nil, reportError("xShieldDomain must have at least 1 elements")
	}
	if strlen(*r.xShieldDomain) > 253 {
		return localVarReturnValue, nil, reportError("xShieldDomain must have less than 253 elements")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Shield-Domain", r.xShieldDomain, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 504 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchHistoryDeprecatedRequest struct {
	ctx           context.Context
	ApiService    *ManagementAPIAPIService
	xShieldDomain *string
	type_         string
	value         string
	limit         *int32
}

// Your registered domain. The server matches it exactly against the domain registered in the analytics dashboard, so send it normalized: lowercase, without scheme, path, trailing slash or a leading &#x60;www.&#x60; (&#x60;https://www.Example.com/&#x60; becomes &#x60;example.com&#x60;). A missing or wrong value gets a &#x60;401&#x60; with an empty body.
func (r ApiSearchHistoryDeprecatedRequest) XShieldDomain(xShieldDomain string) ApiSearchHistoryDeprecatedRequest {
	r.xShieldDomain = &xShieldDomain
	return r
}

// Maximum number of identifications, from 1 to 100. Any other value becomes 100. There is no &#x60;offset&#x60;.
func (r ApiSearchHistoryDeprecatedRequest) Limit(limit int32) ApiSearchHistoryDeprecatedRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchHistoryDeprecatedRequest) Execute() ([]LegacySnapshot, *http.Response, error) {
	return r.ApiService.SearchHistoryDeprecatedExecute(r)
}

/*
SearchHistoryDeprecated Search history by identifier (deprecated)

**Deprecated.** This endpoint stops working after Sat, 01 Jan 2027 00:00:00 GMT. Use
`searchHistory` on the History API instead: `https://account.shieldlabs.ai/api/v1/history`.
Every answer of this route except `429` and `503` carries `Deprecation: true`, a `Sunset`
header and a `Link` header with `rel="successor-version"` pointing there. The plain-text `404`
for a path that matches no route and the edge proxy errors do not carry them.

Differences from the History API: the answer is a bare array of PascalCase objects; only rows
whose request host equals `X-Shield-Domain` are returned (no subdomain traffic); `limit`
defaults to 100 and there is no `offset`. It uses the Management API credentials and rate limit
(15 requests per minute per client IP, then a 10-minute block). The call is free.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param type_ Identifier to search by. Other values get a `404` with a bare JSON string such as `\"auto is not supported\"`.
	@param value Value of the identifier. UUID types accept a UUID of any version; `ip` must be an IP address (an IPv6 address passes validation but then fails with `400` and a `null` body); `user_hid` is free text.
	@return ApiSearchHistoryDeprecatedRequest

Deprecated
*/
func (a *ManagementAPIAPIService) SearchHistoryDeprecated(ctx context.Context, type_ string, value string) ApiSearchHistoryDeprecatedRequest {
	return ApiSearchHistoryDeprecatedRequest{
		ApiService: a,
		ctx:        ctx,
		type_:      type_,
		value:      value,
	}
}

// Execute executes the request
//
//	@return []LegacySnapshot
//
// Deprecated
func (a *ManagementAPIAPIService) SearchHistoryDeprecatedExecute(r ApiSearchHistoryDeprecatedRequest) ([]LegacySnapshot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []LegacySnapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ManagementAPIAPIService.SearchHistoryDeprecated")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/history/{type}/{value}"
	localVarPath = strings.Replace(localVarPath, "{"+"type"+"}", url.PathEscape(parameterValueToString(r.type_, "type_")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"value"+"}", url.PathEscape(parameterValueToString(r.value, "value")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xShieldDomain == nil {
		return localVarReturnValue, nil, reportError("xShieldDomain is required and must be specified")
	}
	if strlen(*r.xShieldDomain) < 1 {
		return localVarReturnValue, nil, reportError("xShieldDomain must have at least 1 elements")
	}
	if strlen(*r.xShieldDomain) > 253 {
		return localVarReturnValue, nil, reportError("xShieldDomain must have less than 253 elements")
	}
	if strlen(r.value) < 1 {
		return localVarReturnValue, nil, reportError("value must have at least 1 elements")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Shield-Domain", r.xShieldDomain, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 504 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
