/*
ShieldLabs API

Identification results and risk scoring for your backend.

API version: 1.0.1
Contact: contact@shieldlabs.ai
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package generated

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// HistoryAPIAPIService HistoryAPIAPI service
type HistoryAPIAPIService service

type ApiSearchHistoryRequest struct {
	ctx        context.Context
	ApiService *HistoryAPIAPIService
	searchType string
	value      string
	limit      *int32
	offset     *int32
}

// Maximum number of identifications to return, from 1 to 100. The server replaces any other value (and a non-numeric one) with 20 instead of clamping it, so validate it on your side.
func (r ApiSearchHistoryRequest) Limit(limit int32) ApiSearchHistoryRequest {
	r.limit = &limit
	return r
}

// Number of identifications to skip, for paging. The server treats negative or non-numeric values as 0. Rows are ordered by &#x60;created_at&#x60; only, so paging while new identifications arrive can repeat or skip rows: deduplicate on &#x60;request_id&#x60;.
func (r ApiSearchHistoryRequest) Offset(offset int32) ApiSearchHistoryRequest {
	r.offset = &offset
	return r
}

func (r ApiSearchHistoryRequest) Execute() (*HistoryPage, *http.Response, error) {
	return r.ApiService.SearchHistoryExecute(r)
}

/*
SearchHistory Search identifications

Returns the identifications of your domain that match one identifier, newest first, together
with the total number of matches. The Private API Key selects the domain; identifications from
its subdomains are included (`domain` holds the host, `site_domain` the registered domain).

**Read one verdict.** After a protected action, search by `request_id` with `limit=1`. The row
appears about 1-3 seconds after the browser call and can be refined for up to about 10 seconds
as follow-up network checks finish, so start the identification when the user begins the
action (for example when the signup form opens), not when the form is submitted. An empty
`data` array means "not scored yet", never "clean". Poll with backoff (first try at once, then
wait 250 ms, 500 ms, 1 s, then steps of about 1.5 s) and treat a `429` inside that loop as
"wait longer". The official server SDKs do this for you.

**Account-level checks.** Search by `device_id`, `user_hid`, `visitor_id` or `ip` to see how
many accounts share a device, how many devices one account uses, or what else came from one
IP address. When you count accounts, skip rows whose `user_hid` is empty or one of the values
that do not identify a user: `anonymous`, `fail`, `-1` and `unknown`.

**Validate before sending.** The server does not validate the path: an unknown `search_type`
returns the latest identifications of the whole domain unfiltered, a malformed UUID or IPv4
value returns `500`, and a `limit` outside 1-100 silently becomes 20.

**Paging.** Page with `offset` while it is below `total`. Rows are ordered by `created_at`
only, so paging while new identifications arrive can repeat or skip rows: deduplicate on
`request_id`.

**Latest state.** A row can be refined after the webhook was sent, for example when late
network data re-scores it; its `ver` then increases. The History API always returns the latest
version, which makes it the guaranteed read path.

Reads are free: they do not use your included identifications.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param searchType Identifier to search by. Only these seven values are supported: - `request_id`: one identification (read a verdict); - `device_id`: every identification of one device; - `user_hid`: every identification of one account; - `visitor_id`: every identification of one visitor; - `ip`: every identification from one public IPv4 address; - `session_id`: every identification of one visit; - `cookie_id`: every identification with one browser cookie.  The server does not reject other values: it ignores them and returns the latest identifications of the whole domain, so restrict the value on your side.
	@param value Value of the identifier, validated on your side before sending: - `request_id`, `device_id`, `visitor_id`, `session_id`, `cookie_id`: a UUID of any version,   the nil UUID included, matching   `^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$`. Send it   lowercase. - `ip`: a dotted IPv4 address. IPv6 addresses cannot be searched. - `user_hid`: the exact, case-sensitive User HID as one path segment, encoded the way the   server reads it: send the characters `A-Z a-z 0-9 - . _ ~ $ & + , : ; = @` unescaped and   percent-encode every other byte of the UTF-8 value as uppercase `%XX`, including   `! ' ( ) *`, spaces and `%` itself. The server compares any other encoding literally, so   `%40` instead of `@`, or lowercase hex digits, return an empty page instead of the matching   rows. Many HTTP clients and generated clients escape `$ & + , : ; = @` in path values: build   this path yourself when yours does. A User HID that contains `/` cannot be searched, and most   HTTP clients cannot send `.` or `..` because they remove them as dot segments; the pattern   rejects these values. Hex-encoded hashes need no escaping at all.  The server does not validate the value: a malformed UUID or IPv4 address gets a `500`.
	@return ApiSearchHistoryRequest
*/
func (a *HistoryAPIAPIService) SearchHistory(ctx context.Context, searchType string, value string) ApiSearchHistoryRequest {
	return ApiSearchHistoryRequest{
		ApiService: a,
		ctx:        ctx,
		searchType: searchType,
		value:      value,
	}
}

// Execute executes the request
//
//	@return HistoryPage
func (a *HistoryAPIAPIService) SearchHistoryExecute(r ApiSearchHistoryRequest) (*HistoryPage, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HistoryPage
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HistoryAPIAPIService.SearchHistory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/history/{search_type}/{value}"
	localVarPath = strings.Replace(localVarPath, "{"+"search_type"+"}", url.PathEscape(parameterValueToString(r.searchType, "searchType")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"value"+"}", url.PathEscape(parameterValueToString(r.value, "value")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if strlen(r.value) < 1 {
		return localVarReturnValue, nil, reportError("value must have at least 1 elements")
	}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", defaultValue, "form", "")
		r.offset = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "text/plain", "text/html"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorBody
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 504 {
			var v string
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
